body{
    background-color:#ced6e0;
  }
  
  li, a, button{
    
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2f3542;
    margin-left: 10px;
    text-decoration: none;
  }
  h3{
    color: #2f3542;
  }
  .navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
  }
  .cta{
    float: right;
  }
  .logo{
    cursor: pointer;
    height: 40px;
    width: 70px;
    margin-right: auto;
  }
  .nav-links{
    list-style: none;
  }
  .nav-links li{
    display: inline-block;
    padding: 0px 20px;
  }
  .nav-links li a{
    transition: all 0.3s ease 0s;
  }
  .nav-links li a:hover{
    color: #0088a9;
  } 
  button{
    color: #2f3542;
    padding: 9px 25px;
    background-color:#dfe4ea;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  button:hover{
    background-color: #a4b0be;
  }
  
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  /* HOME */
  header{
    min-height: 500px;
  }
  .image_head{
    max-width: 800px;
    max-height: 100px;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
   
  }
  #site{
    text-align: center;
    margin-top: 140px;
    font-size:17px;
    color: #2f3542;
    font-style: oblique;
    margin-left: 300px;
    text-decoration: underline;
  }
  #site :hover{
    color: #000;
  }
  .txt{
  
  
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    color: #2f3542;
    margin-left: 40px;
  }
  /* ----GRIDS---- */
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
  
  }
  
  p{
    color: #2f3542;
    font-size: 20px;
    margin: 16px;
  }
  .grid-container > div {
    background-color:#dfe4ea ;
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
  }
  img{
    height: 250px;
    width: 250px;
  }
  .item1{
    height: 500px;
    width: 400px;
    margin-bottom: 30px;
    margin-left: 100px;
    border-radius: 40px;
    margin-top: 20px;
  }
  .item2{
    height: 500px;
    width: 400px;
    margin-bottom: 30px;
    margin-left: 200px;
    border-radius: 40px;
    margin-top: 20px;
  }
  
  .item3{
    height: 500px;
    width: 400px;
  
    margin-left: 100px;
    border-radius: 40px;
    margin-top: 20px;
 
  }
  .item4{
    height: 500px;
    width: 400px;
    margin-left: 200px;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  footer{
    border-radius: 30px;
    background-color: #2f3542;
}

.social-media{
    margin-left: 10%;
    margin-top: 3%;
}

.social-media h3{
    font-family: "Montserrat";
    color: #fff;
    font-size: 26px;
    margin-top: 10px;
}

.social-media ul li
{
    display: inline-block;
}
.social-media a
{
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: white;
    color: black;
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: .6s;
    font-size: 22px;
    margin-top: 10px;
    text-decoration: none;
}
.social-media a:hover
{
    transform: translate(0, -10px); 
}
social-media a i
{
    transition :.6s all;
}
.social-media a:hover >i
{
    transform: scale(1.6) rotate(25deg);
}
.social-media ul li:nth-child(1) a:hover
{
    background-color:#3b5999;
    color: white;
    text-decoration: none;
}
.social-media ul li:nth-child(2) a:hover
{
    background-color:red;
    color: white;
    text-decoration: none;
}
.social-media ul li:nth-child(3) a:hover
{
    background-color:#ff0000;
    color: white;
    text-decoration: none;
}
.social-media ul li:nth-child(4) a:hover
{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
    text-decoration: none;
}

.menu-footer{
    text-align: center;
    margin-left: 50%;
    margin-top: -140px;
}

.menu-footer h3{
    color: #fff;
    font-family: "Montserrat";
    font-size: 26px;
    text-align: left;
    margin-bottom:10px ;
}
.menu-footer p{
    color: white;
    font-family: "Montserrat";
    text-align: left;

    font-size: 22px;
}






/*la vitesse de l'affichage du soulignement des elements de la class "menu"*/
.menu a:hover::after{
    width: 100%;
    transition: width .4s;
}
